body {
  background-color: #96d38d;
}

#betBoard {

    background-color: #c0c0c0;
}

#betBoardTitle {
  text-align: center;
  font-family: Helvetica;
  color: black;
}

#betSlip {

    background-color: #c0c0c0;
}

#myBets {
  color: black;
  text-align: center;
  background-color: white;
}
